<!DOCTYPE html>
<html>
<head>
    <title>mySlack</title>
        <script src="/jquery-1.11.1.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <link href="/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <link rel="stylesheet" type="text/css" href="/main.css"></style>
        <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<div id="logStatus"></div>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">Chat</div>
            <div>
                <div id="panel-body" class="panel-body">
                    <ul id="chatPool" class="cha`t"></ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." onkeydown="if (event.keyCode == 13) {sendMsg()}" />

                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendMsg()">Send</button>
                            <input type="file" name="uploader" id="uploader" style="display: none" />
                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendImg()">image</button>
                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendVid()">video</button>
                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="audioToText()">mike</button>
                        <button class="btn btn-warning btn-sm" id="btn-chat" onclick="videoCall()">videoCall</button> 
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- elements -->
<video id="strVid" src="" style="width: 200px; height: 300px;" autoplay="true" style="float: left;"></video>
<img id="play" width="400px" height="300px" style="float: left;"/>
<canvas id="pview" style="display: none"></canvas>
<input type="file" id="imgUpload" accept="image/x-png,image/gif,image/jpeg" style="display: none" 
onchange="encodeImageFileAsURL('imgUpload');"/>
<input type="file" id="vidUpload" accept="video/mp4,video/x-m4v,video/*" style="display: none" 
onchange="encodeImageFileAsURL('vidUpload');"/>


<img id="loadImg" width="400px" height="300px"/>

<!-- scripts -->
<script src="/vidCall.js"></script>
<script src="/main.js"></script>
<script src="/speechText.js"></script>

</body>
</html>





